.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  padding-top: 5rem;
  font-family: 'Roboto', sans-serif;

}

td {
  font-size: 0.75rem;
}

th {
  font-size: 0.75rem;
  text-align: center
}

ul {
  padding-inline-start: 0.75rem;
}


.react-bootstrap-table table {
  table-layout: auto;
  }
